@page
@model VehicleProject.Pages.Vehicles.IndexModel
@{
    ViewData["Title"] = "Vehicle";
}

<br />
<h2>List of Vehicles</h2>
<a class="btn btn-primary btn-sm" href="/Vehicles/Create">New Vehicle</a>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Number</td>
            <td>Name</td>
            <td>Color</td>
            <td>Wheel</td>
            <td>Headlight</td>
            <td>Created At</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listVehicles)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.VehicleNumber</td>
                <td>@item.VehicleName</td>
                <td>@item.VehicleColor</td>
                <td>@item.VehicleWheel.</td>
                <td>@item.VehicleHeadlight</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Vehicles/Edit?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Vehicles/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>